groq
streamlit
boto3>=1.28.0
pandas
pdfminer.six
fastapi
uvicorn[standard]
python-multipart
pydantic
python-dotenv
better-profanity
transformers
torch
faiss-cpu
unstructured
unstructured[pdf]
unstructured[docx]
unstructured[pptx]
